/* CSS for all */
h1{
    color:#000066;
    text-transform: uppercase;
    padding-bottom: .3em;
    line-height: 1.2;
    border-bottom: 4px solid #eee;
}

h2{
     color:#660066;
}

h3{
    color:Green;
}

h4{
    color:Red;
}
code{
    color: yellow;
    background-color: Red; 
}

section.normal p,
section.normal li {
    text-align: justify;
}

.book .book-body .page-wrapper .page-inner section.normal{
    padding-bottom: .3em;
    line-height: 1;
    font-size: .75em;
}

