/* CSS for all */

.page-wrapper .normal h1{
    color:#000066;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    line-height: 1.2;
    border-bottom: 4px solid Indigo;
    font-size: xx-small;
}

h2{
    color: DarkMagenta;
    font-size: 10px;
}

h3{
    color: DarkSlateBlue;
    font-size: 10px;
}

h4{
    color: DarkBlue;
    font-size:10px;
}

p code{
    color: DarkSlateGray;
    background-color: YellowGreen;
    font-size: 2.5em;
    padding: 0px;
    margin: 0px;
}

pre code{
    color: Teal;
    font-size: 2.5em;
    background-color: YellowGreen;
    padding: 0px;
    margin: 0px;
}

.book-header h1{
    color:#000066;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    font-size: 10px;
}

section.normal p,
section.normal li {
    text-align: justify;
    padding: 0px;
    margin: 0px;
}